<!DOCTYPE HTML>
<!--
	Designed based on Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>HDR</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<a href="/" class="logo">HDR</a>
				<nav class="right">
					<a href="/" class="button alt">Home</a>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h1>About</h1>
						<p>Handwritten digit recognizer</p>
					</header>
					<div class="image fit">
						<img src="../static/images/pic05.jpg" alt="" />
					</div>
					<p>Hey there, my name is Luis! If you want to learn more about me, check out my <a target="_blank" href="https://luisvalesilva.com">personal website</a>.</p>
					<p>I am really interested in Data Science and Machine Learning. This is a side project of mine, in which I developed an interactive handwritten digit recognizer. I wanted to use the power of Machine learning</p>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<h2>Get In Touch</h2>
					<ul class="actions">
						<li><span class="icon fa-phone"></span> <a href="#">(000) 000-0000</a></li>
						<li><span class="icon fa-envelope"></span> <a href="#">information@untitled.tld</a></li>
						<li><span class="icon fa-map-marker"></span> 123 Somewhere Road, Nashville, TN 00000</li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Luis Vale Silva 2016 | Design based on Intensify from <a target="_blank" href="https://templated.co">TEMPLATED</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src=" {{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
			<script src=" {{ url_for('static', filename='assets/js/jquery.scrolly.min.js') }}"></script>
			<script src=" {{ url_for('static', filename='assets/js/skel.min.js') }}"></script>
			<script src=" {{ url_for('static', filename='assets/js/util.js') }}"></script>
			<script src=" {{ url_for('static', filename='assets/js/main.js') }}"></script>


	</body>
</html>