<!DOCTYPE HTML>
<!--
	Design based on Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Digitre</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="Digitre is a machine learning application
		to recognize handwritten digits drawn on a canvas html element.">
		<meta name="keywords" content="data science, Python, Javascript, HTML, Machine Learning,
		Convolutional Neural Network, CNN, MNIST">
		<meta name="author" content="Luis Vale Silva">
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<link rel="icon" href="/static/images/digitre_favicon.ico" type="image/x-icon">

		<!-- Google Analytics -->
		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-71624249-3', 'auto');
		ga('send', 'pageview');
		</script>
		<!-- Google Analytics end-->
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<a href="/" class="logo">Digitre</a>
				<!--
				<nav class="right">
					<a href="/" class="button alt">Home</a>
				</nav>
				-->
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="content">
					<h1>Handwritten digit recognizer</h1>
					<p><strong>Digitre</strong> is a machine learning application<br />
						to recognize handwritten digits</p>
					<ul class="actions">
						<li><a href="#one" class="button scrolly">Try it!</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
		<section id="one" class="wrapper style1 special">
			<div class="inner flex flex-3">
				<div class="flex-item box">
					<!-- <div class="image fit">
						<img src="images/pic02.jpg" alt="" />
					</div> -->
					<div class="content">
						<i class="fa fa-4x fa-pencil" aria-hidden="true"></i>
						<h3>1. You draw a digit</h3>
						<p>Draw a digit from 0 to 9 below and submit it for recognition.</p>
						</div>
					</div>
					<div class="flex-item box">
						<div class="content">
							<i class="fa fa-4x fa-eye" aria-hidden="true"></i>
							<h3>2. Digitre reads it</h3>
							<p>Digitre uses Machine Learning to recognize the handwritten digit.</p>
						</div>
					</div>
					<div class="flex-item box">
						<div class="content">
							<i class="fa fa-4x fa-check" aria-hidden="true"></i>
							<h3>3. Digitre returns output</h3>
							<p>Digitre returns the identified digit along with its probability.</p>
						</div>
					</div>
				</div>
		</section>

		<!-- Two -->
			<section id="two" class="wrapper special">
				<div class="content">
					<h2>Draw a digit from 0 to 9</h2>
					<canvas id="paint" width="250" height="250" style="background-color:white; border: 1px solid #000000;">Update your browser to support HTML5 Canvas</canvas>
					<br />
					<a id="clear" data-tool="eraser" class="button special small">Clear</a>
					&nbsp;&nbsp;
					<a href=# id=push_data class="button small">Submit</a>
					<br /><br />
					<!-- To see the base64-encoded digit image remove CSS rule 'display:none;' from 'textarea' style-->
					<center><textarea id="data-paint" style="width:40%; display:none;"></textarea></center>
					<!-- Highest probability digit -->
					<span style="color: #f6755e; font-size: 76pt;" id=result></span>
					<br />
					<span style="color: #f6755e; font-size: 20pt;" id=probability></span>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner" style="max-width: 520px;">
					<h2>About Digitre</h2>
					<p><strong>Digitre</strong> is written in Python using the <a href="http://flask.pocoo.org" target="_blank">Flask</a> web framework.
						<strong>Digitre</strong> uses JavaScript to collect drawings in an HTML canvas element and Machine Learning (ML) for
						handwritten digit recognition. The digit recognizer is a Convolutional Neural Network (CNN) trained on the
						<a href="http://yann.lecun.com/exdb/mnist/" target="_blank">MNIST</a> dataset using the <a href="http://tflearn.org/" target="_blank">TFLearn</a>
						software library (a high level abstraction of <a href="https://www.tensorflow.org/" target="_blank">TensorFlow</a>).
					</p>
					<p>After training, the CNN showed 98.92% accuracy on MNIST's test dataset.
                    To learn all about <strong>Digitre</strong>'s architecture checkout my
                    <a href="http://luisvalesilva.com/datasimple/digitre.html">blog post</a>.
                    Feel free to contact <a target="_blank" href="https://luisvalesilva.com">me</a>
                    if you have any comments / suggestions / corrections
                    </p>
                    <p><a href="https://github.com/luisvalesilva/digitre" class="icon fa-github fa-2x"></a><br />Source code</p>
                </div>
				<br />
				<div class="copyright">
					Copyright &copy; <a target="_blank" href="https://luisvalesilva.com">Luis Vale Silva</a> 2017 | Design based on Intensify from <a target="_blank" href="https://templated.co">TEMPLATED</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/jquery.scrolly.min.js"></script>
			<script src="/static/assets/js/skel.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>
			<script src="/static/paint.js"></script>
			<script type="text/javascript">
				$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
			</script>
			<script type="text/javascript">
				$(function() {
					$('a#push_data').bind('click', function() {
						$.ajax({
						        url : $SCRIPT_ROOT + '/_get_digit',
						        type: "POST",
						        data: JSON.stringify([
						            {digit: $('textarea[id="data-paint"]').val()}
						        ]),
						        contentType: "application/json; charset=utf-8",
						        dataType: "json",
						        success: function(data){
											$("#result").text(data.result);
											$("#probability").text(data.probability);
						        }
						    });
					return false;
					});
				});
			</script>
			<!--
			<script type="text/javascript">
				$(function() {
					$('a#push_data').bind('click', function() {
						$.post($SCRIPT_ROOT + '/_get_digit', JSON.stringify({
						digit: $('textarea[id="data-paint"]').val()
					}), function(data) {
						$("#result").text(data.result);
						$("#probability").text(data.probability);
					}, 'json');
					return false;
					});
				});
			</script> -->
	</body>
</html>
